<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Enivicivokki </h1>
    <h2>Home Page!</h2>
    <p>{{content}}</p>
    {% for x in  range (10) %}
        {% if x % 2 ==1  %}
            <p> Ellooooooo</p>
        {% else %}
            <p> {{x}}</p>
        {% endif %}
    {% endfor %}

    <hr>

    {% for i in content %}
        {{i}}
        <br>
    {% endfor %}

    <hr>

</body>
</html>