
pylab/deeplearning/dataSets

temp/

.vscode/
vscode/
./vscode
./.vscode
pyLab/.vscode




cppLab/workshop/cppSource/build
cppLab/workshop/cppSource/libsgit 

/artificialIntelligence/python/datasets

/artificialIntelligence/python/00-tests/tensorflow/tensorflowOD/main/workspace/
/artificialIntelligence/python/00-tests/tensorflow/tensorflowOD/venvOD/
/experimental/chatbotProject/cornell_movie_dialogs_corpus