./pyLab/deeplearning/dataSets/*
./pyLab/deeplearning/dataSets/*
pylab/deeplearning/dataSets

temp/

.vscode/
vscode/
./vscode
./.vscode
pyLab/.vscode

./cppLab/workshop/particleSimulator/.gitignore-internal.txt
./cppLab/workshop/particleSimulator/build/*
./cppLab/workshop/particleSimulator/build
./cppLab/workshop/particleSimulator/build/