
/*------------------------- 
  GENERAL SETTINGS 
---------------------------*/
.main-header{
    text-align: center;
    float: none;

}


/*-------------------------------
  GRID CONTAINER - 1 STYLE CODES 
--------------------------------*/

.grid-container-1{

    display:grid;

    grid-template-columns:200px 250px;
    /*grid-template-columns: repeat(4, 100px);  */
    /*grid-template-columns: 200px 100px;  */
    /*grid-template-columns: 2fr 1fr;  */

    grid-auto-rows: minmax(150px, auto);
    /*grid-auto-rows: 150px; */

    /*grid-template-rows: 200px 250px;  */

    grid-gap: 20px;
    /*grid-row-gap:40px;*/
    /*grid-column-gap: 40px;*/
    /*grid-gap: 10px 30px;*/



    justify-content: center ;
    /*justify-content: start;
    justify-content: end;*/
    /* flex-start, flex-end are only for flex box */

    align-content: center;
    /*align-content: stretch;
    align-content: space-around;
    align-content: space-between;*/

    
    /*align-content: center;*/
    justify-items: stretch;
    align-items: stretch;

    border:5px dashed black;
    padding: 20px;
    margin: 10px;
}

.grid-item-1{
    background-color:#ff3456;

    border:4px dotted black;
}

.grid-item-1-1{

    grid-column: 1/-1;
    /*grid-column: 1/2;
    grid-column-start:1;
    grid-column-end: -1;
    grid-column: span 2;*/

 
}

.grid-item-1-2{


    grid-row:2/4;
    /*grid-row-start:2;
    grid-row-end: 4;*/
}

.grid-item-1-3{


    grid-row: span 3;
}


/*-------------------------------
  GRID CONTAINER - 2 STYLE CODES 
--------------------------------*/

.grid-container-2{

    display:grid;
    grid-template-columns: repeat(3, 2fr);  
    grid-template-areas:
        "header header"
        "sidebar content"
        "sidebar content";
    
    grid-template-rows: 200px 250px;
    
    grid-gap: 10px 30px;

    justify-content: center;
    align-content: center;
    border:5px dashed black;
    padding: 20px;
    margin: 10px;

}

.grid-item-2{
    background-color:#dfc456;

    border:2px solid black;
}

.grid-item-2-1{
    grid-area: header;


}

.grid-item-2-2{
    grid-area: sidebar;


}

.grid-item-2-3{
    grid-area: content;
    align-self:start;
    justify-self: start ;

}